h1.train {
background: url("/assets/havag.png") left center no-repeat;
background-size: auto 100%;
margin-left: 10px;
}
 
.trains td, .trains th {
padding: 10px;
}
 
.next_trains {
border-top: 1px solid #fff;
}
