<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  //Dashing.gridsterLayout('[{"col":2,"row":1},{"col":1,"row":1},{"col":3,"row":1},{"col":2,"row":2},{"col":3,"row":2},{"col":1,"row":2},{"col":5,"row":1},{"col":4,"row":2},{"col":2,"row":3}]')
  Dashing.widget_base_dimensions = [300, 310]
  Dashing.numColumns = 6
});
</script>

<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="3" data-sizey="3">
	   <div data-id="havag" data-view="Havag" data-title="Havag" style="background-color:#000000"> ></div>
	</li>

        <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="cccamp-days_left" data-view="Meter" data-title="CCCamp days left" data-min="0" data-max="1460">div>
        </li>

	<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
	    <div data-id="fusion-days_left" data-view="Meter" data-title="Fusion days left" data-min="0" data-max="365">div>
	</li>

	<li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
	  <div data-id="weather" data-view="Weather"></div>
	</li>

	<li data-row="4" data-col="3" data-sizex="2" data-sizey="1">
	  <div data-view="Clock"></div>
	  <i class="icon-time icon-background"></i>
	</li>

  </ul>
</div>
