<% content_for(:title) { "Fusion Festival" } %>
<div class="gridster">
    <ul>
        <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="fusion-logo" data-view="Image" data-image="/fusion.png"></div>
        </li>
        <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
            <div data-id="fusion-now" data-view="Clock" data-title="Time left"></div>
        </li>
        <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
            <div data-id="fusion-counter" data-view="Countdown" data-title="Fusion 2015" data-end="28 June 2015 18:00:00"></div>
        </li>
        <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
            <div data-id="fusion-days_left" data-view="Meter" data-title="Days left" data-min="0" data-max="365">div>
        </li>
    </ul>
</div>

