<div class="gridster">
<ul>
  <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
    <div data-id="havag" data-view="Havag" data-title="Havag" style="background-color:#12B0C5;"></div>
  </li>
  <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    <div data-id="listener" data-view="Graph" data-title="Corax stream listener" data-unit="Listener" style="background-color:#ff9618"></div>
  </li>

</ul>
</div>
