<div class="gridster">
  <ul>
	<li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
	   <div data-id="havag" data-view="Havag" data-title="Havag" style="background-color:#12B0C5;"> ></div>
	</li>

	<li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
	    <div data-id="fusion-days_left" data-view="Meter" data-title="Fusion days left" data-min="0" data-max="365">div>
	</li>

	<li data-row="2" data-col="3" data-sizex="2" data-sizey="1">
	  <div data-id="twitter_mentions" data-view="Comments" style="background-color:#ff9618;" data-moreinfo="Tweets tagged with #diy"></div>
	  <i class="icon-twitter icon-background"></i>
	</li>

	<li data-row="3" data-col="1" data-sizex="1" data-sizey="1">
	  <div data-id="weather" data-view="Weather"></div>
	</li>

	<li data-row="3" data-col="2" data-sizex="2" data-sizey="1">
	  <div data-view="Clock"></div>
	  <i class="icon-time icon-background"></i>
	</li>

  </ul>
</div>
      <script type='text/javascript'>
      $(function() {
        Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":2},{"col":3,"row":2,"size_x":1,"size_y":1},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":1,"row":3,"size_x":1,"size_y":1},{"col":3,"row":1,"size_x":2,"size_y":1}]')
      });
      </script>    
